USE [SODO_ANDROID]
GO
/****** Object:  Table [dbo].[BAITHITHU]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAITHITHU](
	[IDBAITHITHU] [int] NOT NULL,
	[TENDETHI] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBAITHITHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHANGESENTENCES]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGESENTENCES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOAICAU] [nvarchar](200) NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUCTU]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCTU](
	[IDDANHMUCTU] [int] NOT NULL,
	[TENDANHMUC] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDANHMUCTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FAMILYWORD]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILYWORD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GRAMMAR]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAMMAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOAINGUPHAP] [nvarchar](200) NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LISTENING]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTENING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDAUDIO] [nvarchar](200) NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PART1]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDAUDIO] [nvarchar](200) NULL,
	[HINH] [nvarchar](200) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANCHON] [nvarchar](10) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
	[IDBAITHITHU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PART2]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDAUDIO] [nvarchar](200) NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANCHON] [nvarchar](10) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
	[IDBAITHITHU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PART3]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART3](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDAUDIO] [nvarchar](200) NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANCHON] [nvarchar](10) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
	[IDBAITHITHU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PART4]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART4](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDAUDIO] [nvarchar](200) NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANCHON] [nvarchar](10) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
	[IDBAITHITHU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PART5]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART5](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANCHON] [nvarchar](10) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
	[IDBAITHITHU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PART6]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART6](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANCHON] [nvarchar](10) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
	[IDBAITHITHU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PART7]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART7](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DOANVAN] [nvarchar](max) NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANCHON] [nvarchar](10) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
	[IDBAITHITHU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUVUNG]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUVUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TU] [nvarchar](500) NULL,
	[LOAITU] [nvarchar](500) NULL,
	[NGHIA] [nvarchar](500) NULL,
	[IDDANHMUCTU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VOCABULARY]    Script Date: 8/12/2021 10:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOCABULARY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAUDE] [nvarchar](500) NULL,
	[DAPANA] [nvarchar](300) NULL,
	[DAPANB] [nvarchar](300) NULL,
	[DAPANC] [nvarchar](300) NULL,
	[DAPAND] [nvarchar](300) NULL,
	[DAPANDUNG] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PART1]  WITH CHECK ADD  CONSTRAINT [FK_PART1] FOREIGN KEY([IDBAITHITHU])
REFERENCES [dbo].[BAITHITHU] ([IDBAITHITHU])
GO
ALTER TABLE [dbo].[PART1] CHECK CONSTRAINT [FK_PART1]
GO
ALTER TABLE [dbo].[PART2]  WITH CHECK ADD  CONSTRAINT [FK_PART2] FOREIGN KEY([IDBAITHITHU])
REFERENCES [dbo].[BAITHITHU] ([IDBAITHITHU])
GO
ALTER TABLE [dbo].[PART2] CHECK CONSTRAINT [FK_PART2]
GO
ALTER TABLE [dbo].[PART3]  WITH CHECK ADD  CONSTRAINT [FK_PART3] FOREIGN KEY([IDBAITHITHU])
REFERENCES [dbo].[BAITHITHU] ([IDBAITHITHU])
GO
ALTER TABLE [dbo].[PART3] CHECK CONSTRAINT [FK_PART3]
GO
ALTER TABLE [dbo].[PART4]  WITH CHECK ADD  CONSTRAINT [FK_PART4] FOREIGN KEY([IDBAITHITHU])
REFERENCES [dbo].[BAITHITHU] ([IDBAITHITHU])
GO
ALTER TABLE [dbo].[PART4] CHECK CONSTRAINT [FK_PART4]
GO
ALTER TABLE [dbo].[PART5]  WITH CHECK ADD  CONSTRAINT [FK_PART5] FOREIGN KEY([IDBAITHITHU])
REFERENCES [dbo].[BAITHITHU] ([IDBAITHITHU])
GO
ALTER TABLE [dbo].[PART5] CHECK CONSTRAINT [FK_PART5]
GO
ALTER TABLE [dbo].[PART6]  WITH CHECK ADD  CONSTRAINT [FK_PART6] FOREIGN KEY([IDBAITHITHU])
REFERENCES [dbo].[BAITHITHU] ([IDBAITHITHU])
GO
ALTER TABLE [dbo].[PART6] CHECK CONSTRAINT [FK_PART6]
GO
ALTER TABLE [dbo].[PART7]  WITH CHECK ADD  CONSTRAINT [FK_PART7] FOREIGN KEY([IDBAITHITHU])
REFERENCES [dbo].[BAITHITHU] ([IDBAITHITHU])
GO
ALTER TABLE [dbo].[PART7] CHECK CONSTRAINT [FK_PART7]
GO
ALTER TABLE [dbo].[TUVUNG]  WITH CHECK ADD  CONSTRAINT [FK_DMT] FOREIGN KEY([IDDANHMUCTU])
REFERENCES [dbo].[DANHMUCTU] ([IDDANHMUCTU])
GO
ALTER TABLE [dbo].[TUVUNG] CHECK CONSTRAINT [FK_DMT]
GO
